@model AdminViewModel

<h1>Admin</h1>
<h4>Admin section</h4>

<partial name="ManageRoles" model="this.Model.ManageRolesViewModel" />
<partial name="ManageUsers" model="this.Model.ManageUsersViewModel" />
