@page "/brackets"

<button @onclick="CreateNewBracket">Add Bracket</button>

@if (BracketList == null)
{
    <p>Loading...</p>
}
else
{
<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>

    @foreach (var bracket in BracketList)
    {
        <tr>
            <td>@bracket.Name</td>
            <td><button @onclick="@(e=> OpenBracket(bracket.Id))">Open</button></td>
        </tr>
    }
</table>
}
