@page "/brackets/{Id:int}"

@if (BracketPrediction == null)
{
    <p>Loading...</p>
}
else
{
    <p>@BracketPrediction.Name</p>

    <RoundView Round="BracketPrediction.WildCardRound" RoundName="Wild Card"/>
}