@if (Round != null)
{
    <h4>@RoundName</h4>
    <button @onclick="SaveRoundClicked">Save Round</button>
    <h5>AFC</h5>
    <MatchupList Games="Round.AFCGames" />
    <h5>NFC</h5>
    <MatchupList Games="Round.NFCGames" />
}
