html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: sans-serif;
    background: white;
    color: black;
    text-align: left;
    padding: 1rem;
}

.pp-card {
    margin: auto;
    width: 50%;
}

.pp-form-group {
    color: #757575;
    font-weight: 600;
    border: none;
    padding: .5rem;
}

.pp-card-content {
    background: white;
    padding: .5rem;
    border: 1px solid #000;
    border-radius: 16px
}

.pp-card-title {
    padding: 1rem;
    font-family: "Sofia", sans-serif;
    font-size: 2rem;
}

.pp-button {
    padding-top: 1rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
}

.pp-conference-name {
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

.afc {
    background-color: rgba(213,10,10,0.50);
    padding: 0.5rem 2rem 2rem 2rem;
}

.nfc {
    background-color: rgba(1,51,105, 0.70);
    padding: 0.5rem 2rem 2rem 2rem;
}

.pp-matchup {
    border: 1px solid transparent;
    padding: 0.25rem 1rem 0.5rem 1rem;
    border-radius: 0.8rem;
    margin: 0.5rem auto 0.5rem auto;
    width: 75%;
    background-color: white;
}

.afc .pp-matchup {
    box-shadow: 0.25rem 0.25rem 0.25rem darkred;
}

.nfc .pp-matchup {
    box-shadow: 0.25rem 0.25rem 0.25rem #031d45;
}

.super-bowl {
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(213,10,10,0.50), rgba(1,51,105, 0.70));
}

.pp-round-name {
    font-weight: 200;
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.pp-game-name {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
    justify-self: end;
    color: gray;
}

.pp-game-name-super-bowl {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.pp-team-name {
    font-weight: bold;
    font-size: 1.25rem;
}

.pp-bracket-summary {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
}

.pp-label {
    display: block;
}

.pp-label-value {
    font-size: 1.5rem;
    font-weight: 700;
}

.pp-matchup-super-bowl {
    width: 50%;
}

.pp-leaderboard {
    margin-top: 4rem;
}

.pp-my-incomplete-brackets {
    margin-top: 2rem;
}

.pp-my-complete-brackets {
    margin-top: 4rem;
}

p {
    padding: 2rem;
    text-align: center;
    font-weight: bold;
}






