@page "/statistics/"
@page "/statistics/{year?}"
@inject NavigationManager NavigationManager

<h3>Statistics</h3>

<input type="text" @bind="@enteredYear" /> <button @onclick="GetHistoricalRecords">Search</button>

@code {
    [Parameter]
    public string Year { get; set; }

    private string enteredYear;

    protected override void OnInitialized()
    {
        Year = Year ?? string.Empty;
        enteredYear = Year;
    }

    private void GetHistoricalRecords()
    {
        Year = enteredYear;
    }
}
