@using AmerFamilyPlayoffs.Data;
@using PlayoffPool.MVC.Models.Home;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_AuthenticatedLayout";
}

@model HomeViewModel

@if (this.Model.Brackets.Any() == false)
{
    <p>It looks like you haven't made any picks.</p>
    <a href="/Bracket">Create your first bracket</a>
}