@{
    ViewData["Title"] = "Home Page";
    Layout = "_AuthenticatedLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="@Constants.Actions.LOGOUT">
    <button type="submit">Logout</button>
</form>
